@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&display=swap');

/* =========================================
              Website Resets
============================================ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*::-moz-focus-inner {
  border: 0;
}

*:focus {
  outline: none;
}

/* =========================================
                  Html, and Body
============================================ */
html {
  font-size: 100%;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  color: #20212d;
  background-color: rgb(238, 236, 236);
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

p, span {
  font-family: 'Source Code Pro', monospace;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
}

/*mobile landscape layout (480px to 767px) */
@media only screen and (max-width: 767px) {
  html {
    font-size: 75%;
  }
}

/*mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {
  html {
    font-size: 40%;
  }
}