.CartItem {
   margin-top: 1.25em;
   display: flex;
   justify-content: space-between;
}

.CartItem:last-of-type {
   margin-bottom: 1.25em;
}

.CartItem div {
   width: 25%;
}
.CartItem__name {
   text-align: left;
}
.CartItem__price,
.CartItem__total {
   text-align: right;
}

.CartItem__buttons button {
   width: 1.8em;
   height: 1.8em;
   font-weight: 600;
   background-color: #e1e8ee;
   border-radius: 5px;
   margin: 0 3px;
   border: none;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.CartItem__buttons button:disabled {
   background-color: #f8f9fa;
}

.CartItem__buttons span {
   margin: 0 auto;
   font-weight: 600;
}